    <div class="marge container d-flex flex-column vw-100 "> 
        <div class="row d-flex flex-row w-100 text-center">
            <div class="p-3 col-md-4 ">
                <p class="card-text pt-3">Le travail de qualité fait partie de mon ADN et je souhaite partager
                 mon expérience avec vous en développant des sites web et applications 
                 qui correspondent à vos besoins.</p>
             </div>
            
             <div class="card-body col-md-8 mb-5">
                <p class=" ps-3 card-text">Michel est développeur web Full Stack, spécialisé dans le front-end.
                Je suis issu d'un parcours de doctorat spécialisé en Physique. En tant que scientifique chercheur 
                dans le domaine de l'IoT au CNRS, j'ai 3 années d'expériences dans le domaine de la DATA, plus 
                précisément en analyse de données. Ma formation en tant que développeur web couplée avec mes 
                travaux chez Ib - GROUPE CEGOS me permettent aujourd'hui de créer des sites web, APIs REST sécurisées.
                Mon dynamisme et mes qualités relationnelles me permettent de travailler avec une bonne ambiance dans un
                environnement Agile(SCRUM).<br> Je mets mes compétences à votre service pour 
                créer non seulement un site web qui vous correspond, mais aussi vos applications sécurisées.<br>
                <strong>100 % autonome, à l'écoute </strong>de mes clients et <strong>force de proposition,</strong>
                je m'investis pour créer une solution qui correspond parfaitement à vos besoins.<br>
                Vous bénéficierez de mon expertise, mes expériences sur : la <strong>définition des architectures techniques</strong> de votre application adaptées à vos besoins, <strong>l'intégration des maquettes</strong>,
                <strong>l'ergonomie et l'UX design</strong> de votre application, la dynamisation de vos pages web et les <strong>rendre responsives</strong>, Création de votre <strong>site
                e-commerce bien sécurisé </strong>, création de votre <strong>réseau social</strong>, et optimiser votre <strong>référencement SEO</strong>.<br>
                Contactez-moi dès maintenant en m'envoyant un mail <a class="link" [routerLink]="['/contact']"><i class="fas fa-hand-point-right"></i> Cliquer ici</a> </p>
            </div>
         
        </div>   
    </div>